.event-start-date.ng-star-inserted {
    display: hide;
}

.event-start-date.ng-star-inserted {
    display: none;
}

aside.sidebar {
    display: none;
}

span.ng-star-inserted {
    display: none;
}

.event-price.ng-star-inserted {
    display: none;
}
