.event-start-date.ng-star-inserted {
    visibility:hidden;
}

aside.sidebar {
    visibility:hidden;
}

span.ng-star-inserted {
    visibility:hidden;
}

.event-price.ng-star-inserted {
    visibility:hidden;
}